/* makes the width of the profile picture the size
   of the area it's within */
.profile {
	max-width: 100%;
}

.padding-top {
	padding-top: 50px;
}

.github a,
.twitter a,
.instagram a {
	color: black;
}

.github {
	background-image: url('../img/coding.jpg');
	background-size: cover;
	padding: 50px 0;
	margin: 25px 0;
	text-align: center;
}

.twitter {
	background-image: url('../img/fail-whale.png');
	background-size: cover;
	padding: 50px 0;
	margin: 25px 0;
	text-align: center;
}

.instagram {
	background-image: url('../img/instagram-icon.png');
	background-size: cover;
	padding: 50px 0;
	margin: 25px 0;
	text-align: center;
}

/*
.footer {
	padding-top: 25px;
	background-color: whitesmoke;
	box-shadow: 0px 500px 0px 500px whitesmoke;
}
*/